// Bootstrap body background
$body-bg: #F0F4EF;

// Bootstrap body foreground
$body-color: seashell;

// Bootstrap theme colors
$theme-colors: (
  'primary': #b4654a,
  'secondary': #157a6e
);

// Sass imports (The variables need to be set prior to importing)
@import '~bootstrap';
@import '~bootstrap-vue';

// Unset default Vue CLI foreground color set in App.vue, to prevent override of
// the color set in $body-color
