// Bootstrap body background
$body-bg: #e3e3e3;

// Bootstrap body foreground
$body-color: seashell;

// Bootstrap theme colors
$theme-colors: (
  'primary': #b4654a,
  'secondary': #157a6e,
  'card-bg': #ffffff,
  'card-btn-bg': #bfcc94,
  'favorite': #f4ce00,
  'delete': #db0d0d,
  'submit': #bfcc94
);

// Sass imports (The variables need to be set prior to importing)
@import '~bootstrap';
@import '~bootstrap-vue';

// Unset default Vue CLI foreground color set in App.vue, to prevent override of
// the color set in $body-color
